theme: minima

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: NavCog - HULOP
email: hulop.contact@gmail.com
description: > # this means to ignore newlines until "baseurl:"
url: "https://hulop.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  hulop

# Build settings
markdown: kramdown

gems:
  - jekyll-feed
  
exclude:
  - Gemfile
  - Gemfile.lock
  - Rakefile
